@import url("https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;500;700&display=swap");

*,
*::before,
*::after {
  font-size: 62.5%;
  margin: 0;
  padding: 0;
}

html {
  scroll-behavior: smooth;
}

body {
  font-size: 10rem;
  background: #000;
}

/* ############################################## UTILITY CLASS ######################################### */

.text-white {
  color: #bcbcbc;
}

.bg-black {
  color: #000;
}

/* ######################################## LOADING SCREEN #################################################### */

.loading-screen {
  display: inline-block;
  background: black;
  height: 100vh;
  width: 100vmax;
  z-index: 5;
  position: fixed;
  animation: loading3 5s forwards 2s ease-out;
}

@keyframes loading3 {
  from {
    z-index: 5;
  }
  to {
    z-index: -1;
  }
}

.loading-screen .loading-text {
  top: 45%;
  left: 40%;
  font-size: 2rem;
  display: inline-block;
  position: absolute;
}

.loading-screen .loading-text::after {
  content: "";
  font-size: 2rem;
  display: inline-block;
  animation: loading2 3s forwards 2s ease-out;
}

.loading-screen .loading {
  animation: loading1 3s forwards 2s ease-out;
  border: 1px solid green;
  position: absolute;
  width: 2px;
  top: 50%;
  left: 40%;
}

@keyframes loading2 {
  0% {
    content: "0%";
  }
  25% {
    content: "25%";
  }
  50% {
    content: "50%";
  }
  80% {
    content: "100%";
  }
  100% {
    content: "Complete";
  }
}

@keyframes loading1 {
  from {
    width: 2px;
  }
  to {
    width: 150px;
  }
}

/* ################################## HEADER ################################### */

.header {
  height: 95vh;
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */

  font-family: "Roboto", sans-serif;
}

/*###### Nav Bar #####*/
.navbar {
  background: #000000; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #434343,
    #000000
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #434343,
    #000000
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  display: flex;
  justify-content: flex-end;
}

ul {
  list-style-type: none;
}

header .navbar .nav-items {
  margin: 2rem 1rem;
}

.item {
  display: inline-block;
  padding: 0.5rem;
}

a {
  text-decoration: none;
  color: black;
  font-size: 2rem;
  color: #ababab;
}

/* ################################# HOME ######################################### */

.main {
  height: 300px;
  margin: 10rem;
}

.img1 {
  width: 40%;
  float: left;
}

.main .img1 img {
  max-width: 300px;
  object-fit: cover;
}

.main .resume {
  float: right;
  width: 40%;
}

.main .resume .name {
  font-size: 4rem;
  text-align: center;
  text-transform: uppercase;
  margin: 1rem 2rem;
}

.main .resume .intro {
  font-size: 1.4rem;
  text-align: center;
  word-spacing: 0.2em;
}

.btn1 {
  display: inline-block;
  text-decoration: none;
  background: black;
  padding: 7px 7px;
  font-size: 1.1rem;
  margin: 5rem 20rem;
  border-radius: 12px;
  max-width: 200px;
}

.btn1:hover {
  background: #232323;
  box-shadow: 0px 0px 20px 0px #232323;
}

.main::after {
  content: "";
  display: block;
  clear: both;
}

/* ####################################### blog ########################################################## */

.blogs {
  background: #000;
  height: 500px;
  padding: 6rem 0rem;
  margin: 0rem 20rem;
}

.blog1 {
  height: 190px;
  display: inline-block;
  padding: 3rem;
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blogs .blog1 .blog-img {
  width: 50%;
  float: left;
}

.blogs .blog1 .blog-img img {
  max-width: 350px;
  object-fit: cover;
  margin: 0rem 7rem 0rem 0rem;
}

.blogs .blog1 .blog-text {
  float: right;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.blog1::after {
  content: "";
  display: block;
  clear: both;
}

.blog2 {
  display: inline-block;
  margin: 10rem 0;
  padding: 3rem;
  height: 200px;
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
}

.blogs .blog2 .blog-img {
  width: 50%;
  float: right;
}

.blogs .blog2 .blog-img img {
  max-width: 350px;
  object-fit: cover;
  margin: 0rem 0rem 0rem 7rem;
}

.blogs .blog2 .blog-text {
  float: left;
  width: 50%;
  font-size: 2rem;
  text-align: center;
}

.btn2 {
  display: inline-block;
  text-decoration: none;
  background: black;
  padding: 8px 8px;
  font-size: 2rem;
  margin: 1rem 12rem;
  border-radius: 12px;
  max-width: 100px;
}

.btn2:hover {
  background: #232323;
  box-shadow: 0px 0px 20px 0px #232323;
}

.blog2::after {
  content: "";
  display: block;
  clear: both;
}

/* ####################################################### FOOTER ##################################################### */

.footer {
  margin: 20rem 0rem 0rem 0rem;
  background: #8e0e00; /* fallback for old browsers */
  background: -webkit-linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* Chrome 10-25, Safari 5.1-6 */
  background: linear-gradient(
    to right,
    #1f1c18,
    #8e0e00
  ); /* W3C, IE 10+/ Edge, Firefox 16+, Chrome 26+, Opera 12+, Safari 7+ */
  padding: 2rem;
  height: 12vh;
}

.social-media-links {
  display: flex;
  justify-content: center;
  font-size: 1rem;
}

.social-media-links a {
  color: black;
}

.email {
  font-size: 2rem;
  display: flex;
  justify-content: center;
  color: black;
}

.footer-icons {
  margin: 2rem;
}

/* ############################### MEDIA QUERIES ######################## */

@media (max-width: 1200px) {
  * {
    font-size: 40%;
    margin: 0;
    padding: 0;
  }

  .header {
    width: 100vw;
  }

  .loading-screen {
    background: black;
    height: 100vh;
    width: 100vw;
    z-index: 5;
    position: fixed;
    animation: loading3 5s forwards 2s ease-out;
  }

  .main {
    height: 70vh;
    display: flex;
    flex-direction: column;
    align-items: center;
  }

  .resume2 {
    display: flex;
    flex-direction: column;
    margin: auto;
    align-items: center;
  }

  .img1 {
    width: 35rem;
    float: none;
  }

  .main .img1 img {
    max-width: 35rem;
    object-fit: cover;
    /* margin: 0 4.2rem; */
  }

  .main .resume {
    float: none;
    width: 40%;
  }

  .main .resume .name {
    width: 40rem;
    font-size: 4rem;
    text-align: center;
    text-transform: uppercase;
    margin: 4rem 2rem;
  }

  .main .resume .intro {
    height: 20rem;
    width: 40rem;
    font-size: 2rem;
    text-align: center;
    word-spacing: 0.2em;
    margin: 0 1.5rem;
  }

  .btn1 {
    display: inline-block;
    text-decoration: none;
    background: black;
    padding: 7px 7px;
    font-size: 1.5rem;
    margin: 5rem auto;
    border-radius: 12px;
    width: 92px;
  }

  .blogs {
    width: 50rem;
    height: 142rem;
    padding: 30rem 0rem 0rem 0rem;
    margin: 0rem auto;
  }
  .blog1 {
    height: 50rem;
    width: 40rem;
    display: flex;
    flex-direction: column;
    margin: 0rem 1.5rem;
    /* padding: 0rem 4rem; */
    align-items: center;
  }

  .blogs .blog-img {
    float: none;
    display: block;
    width: 25px;
  }

  .blogs .blog1 .blog-img img {
    max-width: 30rem;
    /* display: block; */
    /* margin: 0rem 0rem 0rem 0rem; */
    transform: translate(-17%, 24%);
  }

  .blogs .blog1 .blog-text {
    /* display: block; */
    float: none;
    width: 30rem;
    margin: 8rem 0rem 0rem 0rem;
  }

  .blog2 {
    height: 50rem;
    width: 40rem;
    display: flex;
    flex-direction: column-reverse;
    margin: 22rem 1.5rem 0rem;
    align-items: center;
  }

  .blogs .blog-img {
    float: none;
    display: block;
    width: 25px;
  }

  .blogs .blog2 .blog-img img {
    max-width: 30rem;
    /* display: block; */
    margin: 0rem 0rem 0rem 0rem;
    transform: translate(-17%, 58%);
  }

  .blogs .blog2 .blog-text {
    /* display: block; */
    float: none;
    width: 30rem;
    margin: 8rem 0rem 0rem 0rem;
  }
  .btn2 {
    display: inline-block;
    text-decoration: none;
    background: black;
    padding: 8px 8px;
    font-size: 2rem;
    margin: 1rem 0rem;
    border-radius: 12px;
    max-width: 100px;
  }

  .blog2 .btn2 {
    transform: translate(-1%, 24%);
    margin: 1rem 0rem 0rem 0rem;
  }

  .footer {
    margin: 1rem 0 0 0;
  }
}
